/* highscores.css */

section {
 display: flex;
 margin: auto auto auto auto;
 min-width: 100px;

}

a {
 text-decoration: none;
 background-color: red;
 color: white;
 padding: 0;
 margin: 0;
 border: none;
 cursor: pointer;
}

P {
 padding: 0;
}

body {
 width: 100%;
}

main {
 width: 40%;
 margin: auto;
}



h1 {
 width: 40%;
 margin-top: 10%;
 margin-bottom: 10px;
 text-align: left;
}

/* modifies the container/section that displays the scores */
#highscores {
 display: flex;
 flex-direction: column;
 background-color: silver;
 padding: 20px;
 margin-bottom: 20px;
 text-align: left;

}

.highscore-list {

 list-style-type: none;
 padding: 0;

}

.highscore-entry {
 display: flex;
 align-items: center;
 margin-bottom: 10px;
}

.score-number {
 font-weight: bold;
 margin-right: 5px;
}

.score-dash {
 margin: 0 5px;
}

.buttons {
 text-align: center;
 margin-top: 20px;
}

#clear-highscores {
 background-color: red;
 color: white;
 padding: 5px 20px;
 border: none;
 cursor: pointer;
}

#clear-highscores:hover {
 background-color: rgb(131, 6, 6);
 color: white;
 padding: 5px 20px;
 border: none;
 cursor: pointer;
}

#go-back {
background-color: rgb(204, 145, 36);
color: white;
 padding: 5px 20px;
 border: none;
 cursor: pointer;
 margin-top: 10px;
}

#go-back:hover {
 background-color: rgb(106, 75, 19);
 color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  
 }

